html, body {
    height: 100vh;
}

header {
    text-align: center;
    height: 80px;
}

.jumbotron {
    padding: 20px;
    margin: 0;
}

.forecast {
    background-color: rgba(53, 53, 228, 0.548);
    height: 180px;
    padding: 10px;
    margin-top: 10px;
}

nav, main {
    padding-top: 40px;
}

#today {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding-left: 0;
}

.high {
    background-color: orange;
}